body{margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav */

nav{
    background-image: url(elements-summer-fruits-patterns-2P6QQ5-2018-04-17/SummerFruitsPatterns-06.jpg);
}

nav h2 {

    margin: 0;
    text-align: center;
    padding: 20px 0;
}

nav h1 {

    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 100px;
}

#formulaire {
    width: 35%;
    margin: auto;
}
#formulaire p {

    font-size: 30px;

}

#connexion {
    border: 2px solid black;
    padding:10px;
}

.Erreur {

    text-align: center;
    font-size: 30px;
}

#envoyer {
    text-align: right;
    margin-left: 520px;
    padding:5px;
}

/* liste admin */

#liste {

    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    
}

#liste div {

border: black solid 2px;
width: 49%;

}

div#liste div h4 a {

    text-decoration: none;
    color: grey;
    padding: 5px;
    border: 1px solid grey;

}

div#liste div p a {

    text-decoration: none;
    color: grey;
    font-size: 25px;
    padding-left: 10px;
}

div#liste div h4 {
 padding-left: 10px;
 font-size: 30px;
 display: flex;
 justify-content: space-between;
 padding: 0 10px;
  
}

/* ajout ingredient admin */

#ingredient_admin{

    display: flex;
    width: 80%;
    margin: auto;

}

.nom_photo {

    width: 50%;
}

div.nom_photo p  {
        font-size: 30px;
       
}

div.nom_photo input{
    border: solid 2px lightgrey;
    width: 60%;
    height: 40px;
    


}
div.nom_photo textarea,select {
    width: 60%;
}

#ajout {

    font-size: 40px;
    width: 80%;
    margin: auto;
}

#submit_ajout {

    width: 10%;
    margin: 30px 0 0 183px;
}

/* creation   */

section {

    width: 80%;
    margin: auto;
}

section p {

    font-size: 30px;
    margin: 0px;
}
section p a {

    font-size: 30px;
    text-decoration: none;
    color: gray;
    border: solid 1px lightgrey;
    padding: 0 10px;
    margin-left: 10px;
}
section form  {

    display: flex;
    margin-bottom: 40px;

}

section form p {
            margin: 5px;
}

section form select {

    width: 30%;
}
section form input {

    margin: 0 5px;
}

section a {
    text-decoration: none;
    border: solid 2px lightgray;
    color: black;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
}


