body{margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav visiteur*/

nav{
    background-image: url(elements-summer-fruits-patterns-2P6QQ5-2018-04-17/SummerFruitsPatterns-04.jpg);
}

nav h2 {
    font-size: 30px;
    margin: 0;
    text-align: center;
    padding: 20px 0;
}
nav h1 {

    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
nav form {
    
    text-align: center;
    padding-bottom: 30px;

}
#champ {

    width: 40%;
    padding: 15px 0;
}

#boutonnav {

padding: 15px 0;
background: yellow;
color: green;
margin-left: -6px;
}

#p_titre {

    width: 80%;
    margin: 20px auto;
}
#p_titre a {

    text-decoration: none;
    color: aqua;
    font-weight: bold;
}
#photo_accueil {
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-between;
}
#photo_accueil a {
    text-align: center;
    width: 22%;
    border: solid 2px gray;
 
}
#photo_accueil a img{
    height: 300px;
    padding: 10px;
}
#photo_accueil a p{
    text-decoration: none;
    color: black;
    border-top: solid 2px grey;
    padding-top:10px;
    
}
#p_pied_accueil {
    text-align: center;
    padding: 20px 0;
}
#a_soumettez {
        
      text-align: center;
}
#a_soumettez a{
        text-decoration: none;
        color: aqua;
        font-weight: bold;
        
}